import os

class Config:
    SECRET_KEY = os.environ.get('SECRET_KEY') or 'dev-secret-key'
    MYSQL_HOST = '{{ db_host }}'
    MYSQL_DATABASE = '{{ db_name }}'
    MYSQL_USER = '{{ db_user }}'
    MYSQL_PASSWORD = '{{ db_password }}'
EOF

