- name: Install system dependencies
  apt:
    name:
      - python3
      - python3-pip
      - python3-venv
      - git
      - mysql-client
      - libmysqlclient-dev
      - pkg-config
    state: present

- name: Install virtualenv
  pip:
    name: virtualenv
    state: present

- name: Remove existing app directory
  file:
    path: /opt/app
    state: absent

- name: Create application directory
  file:
    path: /opt/app
    state: directory
    mode: '0755'

- name: Clone application repository
  git:
    repo: https://github.com/mmumshad/simple-webapp-flask.git
    dest: /opt/app
    version: master

- name: Install Python dependencies
  pip:
    requirements: /opt/app/requirements.txt
    virtualenv: /opt/app/venv
    virtualenv_python: python3

- name: Create application configuration
  template:
    src: config.py.j2
    dest: /opt/app/config.py
    mode: '0644'

- name: Create systemd service file
  template:
    src: app.service.j2
    dest: /etc/systemd/system/app.service
    mode: '0644'
  notify: restart app

- name: Enable and start application service
  systemd:
    name: app
    enabled: yes
    state: started